<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
</head>
<body>
    <h1>Bienvenido, {{ user.username }}!</h1>
    <p>Redirigiéndote a tu panel...</p>
    <script>
        // Redirigir automáticamente después de un breve retraso
        setTimeout(function() {
            window.location.href = "{% url redirect_url %}";  // Usa la URL pasada desde la vista
        }, 2000);  // 2 segundos de retraso
    </script>
</body>
</html>