{% extends "plantilla.html" %}
{% load static %}
{% block title %}
GESTIÓN PACIENTES
{% endblock %}

{% block content %}
    <h1 class="text text-center">Gestión de Pacientes</h1>
    <br>
    <div class="container mt-5">
        <!-- Sección para el botón de nuevo paciente -->
        <div class="d-flex justify-content-end mb-4">
            <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addIngresoPacientesModal">
                <i class="bi bi-person-plus-fill"></i>  Nuevo Paciente
            </a>
        </div>
        
        <!-- BUSQUEDA DE PACIENTES MEDIANTE CÉDULA -->
        <form method="get" action="{% url 'admisionistas:buscar_pacientes' %}" class="mb-4">
            <div class="input-group">
                <input type="number" name="cedula_pacientes" class="form-control" placeholder="Buscar paciente por número cédula" aria-label="Buscar por cédula" required>
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </form>
        
        <!-- RESULTADOS DE LA BÚSQUEDA -->
        {% if pacientes is not None %}
            <div class="list-group" id="patientList">
                {% if pacientes %}
                <!-- Alerta de paciente encontrado -->
                <div class="alert alert-success" role="alert">
                    Paciente encontrado!
                </div>
                    {% for pacienteTemporal in pacientes %}
                        <div class="list-group-item py-3 px-4 d-flex justify-content-between align-items-center shadow-sm mb-3">
                            <!-- Información del paciente -->
                            <div>
                                <h6 class="mb-1">{{ pacienteTemporal.nombres_pacientes }} {{ pacienteTemporal.apellido_paterno_pacientes }} {{ pacienteTemporal.apellido_materno_pacientes }}</h6>
                                <small class="text-muted">
                                    <strong>Cédula:</strong> {{ pacienteTemporal.cedula_pacientes }} |
                                    <strong>Edad:</strong> {{ pacienteTemporal.edad }} |
                                    <strong>Teléfono:</strong> {{ pacienteTemporal.telefono_pacientes }}
                                </small>
                                <br>
                                <small class="text-muted">
                                    <strong>Seguro Médico:</strong> {{ pacienteTemporal.seguro_pacientes }} |
                                    <strong>Dirección:</strong> {{ pacienteTemporal.direccion_pacientes }}
                                </small>
                            </div>
                            <!-- Botones de acción -->
                            <div class="d-flex gap-2">
                                <a href="#" class="btn btn-sm btn-primary view-btn" data-bs-toggle="modal" data-bs-target="#viewPacienteModal" title="Ver paciente" data-id="{{ pacienteTemporal.id_pacientes }}"> <i class="bi bi-eye-fill"></i></a>                        
                                <a href="#" class="btn btn-sm btn-warning me-1 edit-btn" data-bs-toggle="modal" data-bs-target="#editIngresoPacientesModal" title="Editar paciente" data-id="{{ pacienteTemporal.id_pacientes }}"> <i class="bi bi-pencil-fill"></i></a>
                                <a href="#" class="btn btn-sm btn-danger btn-delete" data-id="{{ pacienteTemporal.id_pacientes }}" title="Eliminar paciente"> <i class="bi bi-trash-fill"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        No se encontraron resultados para "{{ request.GET.cedula_pacientes }}".
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
    
    



    <!-- Modal para agregar un nuevo paciente -->
    <div class="modal fade" id="addIngresoPacientesModal" tabindex="-1" aria-labelledby="addIngresoPacientesLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addIngresoPacientesLabel">Nuevo Paciente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para agregar un paciente -->
                    <form id="formAddPaciente" method="POST" action="{% url 'admisionistas:agregar_paciente' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <b><label for="apellido_paterno_pacientes" class="form-label">Apellido Paterno</label></b>
                            <input type="text" class="form-control" id="apellido_paterno_pacientes" name="apellido_paterno_pacientes" placeholder="Escriba el apellido paterno del paciente (Ej.: Lopez)" required>
                            <b><label for="apellido_materno_pacientes" class="form-label">Apellido Materno</label></b>
                            <input type="text" class="form-control" id="apellido_materno_pacientes" name="apellido_materno_pacientes" placeholder="Escriba el apellido materno del paciente (Ej.: Ramirez)" required>

                            <b><label for="nombres_pacientes" class="form-label">Nombres</label></b>
                            <input type="text" class="form-control" id="nombres_pacientes" name="nombres_pacientes" placeholder="Escriba los nombres del paciente (Ej.: Ramiro Josué)" required>

                            <b><label for="cedula_pacientes" class="form-label">Cédula</label></b>
                            <input type="text" class="form-control" id="cedula_pacientes" name="cedula_pacientes" placeholder="Escriba la cédula del paciente (10 dígitos) (Ej.: 1750928127)" required>

                            <b><label for="fecha_nacimiento_pacientes" class="form-label">Fecha de Nacimiento</label></b>
                            <input type="date" class="form-control" id="fecha_nacimiento_pacientes" name="fecha_nacimiento_pacientes" required>

                            <b><label for="direccion_pacientes" class="form-label">Dirección</label></b>
                            <textarea class="form-control" id="direccion_pacientes" name="direccion_pacientes" required rows="3" placeholder="Escriba la dirección de domicilio del paciente (Ej.: Guamaní)" style="resize: none;"></textarea>

                            <b><label for="email_pacientes" class="form-label">Email</label></b>
                            <input type="email" class="form-control" id="email_pacientes" name="email_pacientes" placeholder="Escriba el email del paciente (Ej.: ramiro@gmail.com)" required>

                            <b><label for="estado_civil_pacientes" class="form-label">Estado Civil</label></b>
                            <select id="estado_civil_pacientes" name="estado_civil_pacientes" class="form-control">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="Soltero">Soltero</option>
                                <option value="Casado">Casado</option>
                                <option value="Union Libre">Unión Libre</option>
                                <option value="Divorciado">Divorciado</option>
                                <option value="Viudo">Viudo</option>
                            </select>

                            <div class="mb-3">
                                <b><label for="genero_pacientes" class="form-label">Género</label></b>
                                <select class="form-select" id="genero_pacientes_select" name="genero_pacientes" required onchange="toggleGeneroInput(this.value)">
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Otro">Otro</option>
                                </select>
                            </div>

                            <div class="mb-3" id="genero_otro_div" style="display: none;">
                                <label for="genero_otro" class="form-label">Especifique el género</label>
                                <input type="text" class="form-control" id="genero_otro" name="genero_otro">
                            </div>

                            <b><label for="telefono_pacientes" class="form-label">Teléfono</label></b>
                            <input type="text" class="form-control" id="telefono_pacientes" name="telefono_pacientes" placeholder="Escriba el # de teléfono del paciente (Ej.: 0998987787)" required>

                            <b><label for="emergencia_informar_pacientes" class="form-label">En caso de emergencia informar a</label></b>
                            <input type="text" class="form-control" id="emergencia_informar_pacientes" name="emergencia_informar_pacientes" placeholder="Escriba el contacto de emergencia del paciente (Ej.: Ramiro Lopez)" required>

                            <b><label for="contacto_emergencia_pacientes" class="form-label">Contacto de emergencia</label></b>
                            <input type="text" class="form-control" id="contacto_emergencia_pacientes" name="contacto_emergencia_pacientes" placeholder="Escriba el # de teléfono del contacto de emergencia (Ej.: 0998987787)" required>

                            <div class="mb-3">
                                <b><label for="seguro_pacientes" class="form-label">Seguro médico</label></b>
                                <select class="form-select" id="seguro_pacientes_select" name="seguro_pacientes" required onchange="toggleSeguroInput(this.value)">
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    <option value="IESS">IESS</option>
                                    <option value="ISSPOL">ISSPOL</option>
                                    <option value="ISSFA">ISSFA</option>
                                    <option value="Otro">Otro</option>
                                </select>
                            </div>

                            <div class="mb-3" id="seguro_otro_div" style="display: none;">
                                <label for="seguro_otro" class="form-label">Especifique el seguro</label>
                                <input type="text" class="form-control" id="seguro_otro" name="seguro_otro">
                            </div>

                            <div class="mb-3">
                                <b><label for="fk_id_admisionista" class="form-label">Admisionista</label></b>
                                <input type="text" class="form-control" id="fk_id_admisionista" name="fk_id_admisionista" value="{{ user.username }}" readonly>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para editar un paciente -->

    <div class="modal fade" id="editIngresoPacientesModal" tabindex="-1" aria-labelledby="editIngresoPacientesLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editIngresoPacientesLabel">Editar Paciente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formEditPaciente" method="POST">
                        <div class="mb-3">

                            {% csrf_token %}
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <input type="hidden" name="id_pacientes" id="edit_pacienteId"> <!-- Campo oculto para ID -->
                            
                            <b><label for="edit_apellido_paterno_pacientes" class="form-label">Apellido Paterno</label></b>
                            <input type="text" class="form-control" id="edit_apellido_paterno_pacientes" name="apellido_paterno_pacientes" placeholder="Escriba el apellido paterno del paciente (Ej.: Lopez)" required>
    
                            <b><label for="edit_apellido_materno_pacientes" class="form-label">Apellido Materno</label></b>
                            <input type="text" class="form-control" id="edit_apellido_materno_pacientes" name="apellido_materno_pacientes" placeholder="Escriba el apellido materno del paciente (Ej.: Ramirez)" required>
    
                            <b><label for="edit_nombres_pacientes" class="form-label">Nombres</label></b>
                            <input type="text" class="form-control" id="edit_nombres_pacientes" name="nombres_pacientes" placeholder="Escriba los nombres del paciente (Ej.: Ramiro Josué)" required>
    
                            <b><label for="edit_cedula_pacientes" class="form-label">Cédula</label></b>
                            <input type="text" class="form-control" id="edit_cedula_pacientes" name="cedula_pacientes" placeholder="Escriba la cédula del paciente (10 dígitos) (Ej.: 1750928127)" required>
    
                            <b><label for="edit_fecha_nacimiento_pacientes" class="form-label">Fecha de Nacimiento</label></b>
                            <input type="date" class="form-control" id="edit_fecha_nacimiento_pacientes" name="fecha_nacimiento_pacientes" required >
    
                            <b><label for="edit_direccion_pacientes" class="form-label">Dirección</label></b>
                            <textarea class="form-control" id="edit_direccion_pacientes" name="direccion_pacientes" required rows="3" placeholder="Escriba la dirección de domicilio del paciente (Ej.: Guamaní)" style="resize: none;"></textarea>
    
                            <b><label for="edit_email_pacientes" class="form-label">Email</label></b>
                            <input type="email" class="form-control" id="edit_email_pacientes" name="email_pacientes" placeholder="Escriba el email del paciente (Ej.: ramiro@gmail.com)" required>
                            
                            <b><label for="edit_estado_civil_pacientes" class="form-label">Estado Civil</label></b>
                            <select id="edit_estado_civil_pacientes" name="estado_civil_pacientes" class="form-control">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="Soltero">Soltero</option>
                                <option value="Casado">Casado</option>
                                <option value="Union Libre">Unión Libre</option>
                                <option value="Divorciado">Divorciado</option>
                                <option value="Viudo">Viudo</option>
                            </select>
                            
                            <div class="mb-3">
                                <b><label for="edit_genero_pacientes_select" class="form-label">Género</label></b>
                                <select class="form-select" id="edit_genero_pacientes_select" name="genero_pacientes" required>
                                    <option value="" disabled>Seleccione una opción</option>
                                    <option value="Masculino" {% if paciente.genero_pacientes == 'Masculino' %}selected{% endif %}>Masculino</option>
                                    <option value="Femenino" {% if paciente.genero_pacientes == 'Femenino' %}selected{% endif %}>Femenino</option>
                                    <option value="Otro" {% if paciente.genero_pacientes == 'Otro' %}selected{% endif %}>Otro</option>
                                </select>
                            </div>
                            <div class="mb-3" id="edit_genero_otro_div" style="display: {% if paciente.genero_pacientes == 'Otro' %}block{% else %}none{% endif %};">
                                <label for="edit_genero_otro" class="form-label">Especifique el género</label>
                                <input type="text" class="form-control" id="edit_genero_otro" name="genero_otro" value="{{ paciente.genero_pacientes }}">
                            </div>
    
                            <b><label for="edit_telefono_pacientes" class="form-label">Teléfono</label></b>
                            <input type="text" class="form-control" id="edit_telefono_pacientes" name="telefono_pacientes" placeholder="Escriba el # de teléfono del paciente (Ej.: 0998987787)" required>
    
                            <b><label for="edit_emergencia_informar_pacientes" class="form-label">En caso de emergencia informar a</label></b>
                            <input type="text" class="form-control" id="edit_emergencia_informar_pacientes" name="emergencia_informar_pacientes" placeholder="Escriba el contacto de emergencia del paciente (Ej.: Ramiro Lopez)" required>
    
                            <b><label for="edit_contacto_emergencia_pacientes" class="form-label">Contacto de emergencia</label></b>
                            <input type="text" class="form-control" id="edit_contacto_emergencia_pacientes" name="contacto_emergencia_pacientes" placeholder="Escriba el # de teléfono del contacto de emergencia (Ej.: 0998987787)" required>
                            <div class="mb-3">
                                <b><label for="edit_seguro_pacientes_select" class="form-label">Seguro médico</label></b>
                                <select class="form-select" id="edit_seguro_pacientes_select" name="seguro_pacientes" required>
                                    <option value="" disabled>Seleccione una opción</option>
                                    <option value="IESS" {% if paciente.seguro_pacientes == 'IESS' %}selected{% endif %}>IESS</option>
                                    <option value="ISSPOL" {% if paciente.seguro_pacientes == 'ISSPOL' %}selected{% endif %}>ISSPOL</option>
                                    <option value="ISSFA" {% if paciente.seguro_pacientes == 'ISSFA' %}selected{% endif %}>ISSFA</option>
                                    <option value="Otro" {% if paciente.seguro_pacientes == 'Otro' %}selected{% endif %}>Otro</option>
                                </select>                            
                            </div>
                            <div class="mb-3" id="edit_seguro_otro_div" style="display: {% if paciente.seguro_pacientes == 'Otro' %}block{% else %}none{% endif %};">
                                <label for="edit_seguro_otro" class="form-label">Especifique el seguro</label>
                                <input type="text" class="form-control" id="edit_seguro_otro" name="seguro_otro" value="{{ paciente.seguro_pacientes }}">
                            </div>
                            <div class="mb-3">
                                <b><label for="edit_fk_id_admisionista" class="form-label">Admisionista</label></b>
                                <input type="text" class="form-control" id="edit_fk_id_admisionista" name="fk_id_admisionista" readonly>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--MODAL PARA VER LOS DATOS DE UN PACIENTE-->
    <div class="modal fade" id="viewPacienteModal" tabindex="-1" aria-labelledby="viewPacienteLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="viewPacienteLabel">Detalles del Paciente</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form id="formPaciente" method="POST" >
                {% csrf_token %}
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="hidden" name="id_pacientes" id="view_pacienteId"> <!-- Campo oculto para ID -->
                <!-- Campos del paciente que serán llenados para ver o editar -->
                <div class="mb-3">
                <b><label class="form-label">Apellido Paterno</label></b>
                <input type="text" id="view_apellido_paterno_pacientes" class="form-control" name="apellido_paterno_pacientes" readonly>
                </div>
                <div class="mb-3">
                <b><label class="form-label">Apellido Materno</label></b>
                <input type="text" id="view_apellido_materno_pacientes" class="form-control" name="apellido_materno_pacientes" readonly>
                </div>
                <div class="mb-3">
                <b><label class="form-label">Nombres</label></b>
                <input type="text" id="view_nombres_pacientes" class="form-control" name="nombres_pacientes" readonly>
                </div>
                <div class="mb-3">
                <b><label class="form-label">Cédula</label></b>
                <input type="text" id="view_cedula_pacientes" class="form-control" name="cedula_pacientes" readonly>
                </div>
                <div class="mb-3">
                <b><label class="form-label">Fecha de Nacimiento</label></b>
                <input type="date" id="view_fecha_nacimiento_pacientes" class="form-control" name="fecha_nacimiento_pacientes" readonly>
                </div>
                <div class="mb-3">
                <b><label class="form-label">Dirección</label></b>
                <input type="text" id="view_direccion_pacientes" class="form-control" name="direccion_pacientes" readonly>
                </div>
                <div class="mb-3">
                <b><label class="form-label">Email</label></b>
                <input type="email" id="view_email_pacientes" class="form-control" name="email_pacientes" readonly>
                </div>
                <div class="mb-3">
                    <b><label class="form-label">Estado Civíl</label></b>
                    <input type="email" id="view_estado_civil_pacientes" class="form-control" name="estado_civil_pacientes" readonly>
                </div>
                <div class="mb-3">
                <b><label class="form-label">Género</label></b>
                <select id="view_genero_pacientes" class="form-control" name="genero_pacientes" disabled>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Otro</option>
                </select>
                </div>
                <!-- Campo "Otro" para Género -->
                <div id="view_genero_otro_div" class="mb-3" style="display: none;">
                    <label class="form-label">Especifique otro género</label>
                    <input type="text" id="view_genero_otro" class="form-control" readonly>
                </div>
                <div class="mb-3">
                <b><label class="form-label">Teléfono</label></b>
                <input type="text" id="view_telefono_pacientes" class="form-control" name="telefono_pacientes" readonly>
                </div>
                <div class="mb-3">
                <b><label class="form-label">En caso de emergencia informar a</label></b>
                <input type="text" id="view_emergencia_informar_pacientes" class="form-control" name="emergencia_informar_pacientes" readonly>
                </div>
                <div class="mb-3">
                <b><label class="form-label">Contacto de emergencia</label></b>
                <input type="text" id="view_contacto_emergencia_pacientes" class="form-control" name="contacto_emergencia_pacientes" readonly>
                </div>
                <div class="mb-3">
                <b><label class="form-label">Seguro médico</label></b>
                <select id="view_seguro_pacientes" class="form-control" name="seguro_pacientes" disabled>
                    <option value="IESS">IESS</option>
                    <option value="ISSPOL">ISSPOL</option>
                    <option value="ISSFA">ISSFA</option>
                    <option value="Otro">Otro</option>
                </select>
                </div>
                <!-- Campo "Otro" para Seguro Médico -->
                <div id="view_seguro_otro_div" class="mb-3" style="display: none;">
                    <b><label class="form-label">Especifique otro seguro</label></b>
                    <input type="text" id="view_seguro_otro" class="form-control" readonly>
                </div>
                <div class="mb-3">
                <b><label class="form-label">Admisionista</label></b>
                <input type="text" id="view_fk_id_admisionista" class="form-control" name="fk_id_admisionista" readonly>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}