{% extends "plantilla.html" %}
{% load static %}
{% block title %}
GESTIÓN PACIENTES
{% endblock %}

{% block content %}
    <table id="tabla_citas" class="table table-striped">
        <thead>
            <tr class="text-center">
                <th>APELLIDO PATERNO</th>
                <th>APELLIDO MATERNO</th>
                <th>NOMBRES</th>
                <th>CÉDULA</th>
                <th>FECHA CITA</th>
                <th>HORA CITA</th>
                <th>ESTADO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for cita in citas %}
            <tr class="text-center">
                <td>{{ cita.fk_id_paciente.apellido_paterno_pacientes }}</td>
                <td>{{ cita.fk_id_paciente.apellido_materno_pacientes }}</td>
                <td>{{ cita.fk_id_paciente.nombres_pacientes }}</td>
                <td>{{ cita.fk_id_paciente.cedula_pacientes }}</td>
                <td>{{ cita.fecha_cita }}</td>
                <td>{{ cita.hora_cita }}</td>
                <td>{{ cita.estado_cita }}</td>
                <td>
                    <button class="btn btn-danger btn-sm eliminar-cita" data-id="{{ cita.id_cita }}"> 
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}